## 폭스바겐 ##

In [1]:
import os
import pandas as pd

### 파일 불러오기 ###

In [2]:
df0 = pd.read_csv('C:\\Users\\웍스컴바인\\Desktop\\work\\data_analysis\\DanawaCrawler\\crawl_result\\json\\europe6\\csv파일/18.csv', encoding='utf-8')
df0
# 2018

    Unnamed: 0           car_name          sub_name quentity
0            0             Tiguan  Allspace 2.0 TDI    2,274
1            1             Tiguan           2.0 TDI        1
2            2             Tiguan           2.0 TDI        1
3            3  The all new Jetta           1.4 TSI    1,988
4            4  The all new Jetta           1.4 TSI    1,988
5            5             Arteon           2.0 TDI      881
6            6             Arteon   2.0 TDI 4Motion      241
7            7             Arteon   2.0 TDI 4Motion      241
8            8  The new Passat GT           2.0 TDI      717
9            9  The new Passat GT   2.0 TDI 4Motion      109
10          10  The new Passat GT   2.0 TDI 4Motion      109
11          11              T-Roc           2.0 TDI      602
12          12              T-Roc           2.0 TDI      602
13          13    The new Touareg           3.0 TDI      235
14          14    The new Touareg           4.0 TDI       37
15          15    The new Touareg           4.0 TDI       37

In [3]:
df1 = pd.read_csv('C:\\Users\\웍스컴바인\\Desktop\\work\\data_analysis\\DanawaCrawler\\crawl_result\\json\\europe6\\csv파일/19.csv', encoding='utf-8')
df1
# 2019

    Unnamed: 0  car_name              sub_name quentity
0            0      3008          1.6 BLUe-HDi    1,415
1            1      3008       GT 2.0 BLUe-HDi       71
2            2      3008       GT 2.0 BLUe-HDi       71
3            3      2008          1.6 BLUe-HDi      768
4            4      2008          1.6 BLUe-HDi      768
5            5      2008          1.6 BLUe-HDi      512
6            6      2008          1.6 BLUe-HDi      512
7            7       308          1.6 BLUe-HDi      238
8            8       308  1.6 BLUe-HDi GT Line      146
9            9       308       1.6 BLUe-HDi SW       65
10          10       308       2.0 BLUe-HDi SW       17
11          11       308          2.0 BLUe-HDi       12
12          12       308       2.0 BLUe-HDi GT        9
13          13       308       2.0 BLUe-HDi GT        9
14          14       508          1.6 BLUe-HDi      229
15          15       508       GT 2.0 BLUe-HDi       53
16          16       508          2.0 BLUe-HDi       29
17          17       508      RXH 2.0 BLUe-HDi       17
18          18       508          SW 1.6 e-HDi       16
19          19       508  1.6 BLUe-HDi GT Line        5
20          20       508  1.6 BLUe-HDi GT Line        5
21          21      5008          1.6 BLUe-HDi      230
22          22      5008       GT 2.0 BLUe-HDi       49
23          23      5008       GT 2.0 BLUe-HDi       49
24          24       208          1.6 BLUe-HDi      155
25          25       208          1.6 BLUe-HDi      155
26          26      3008          1.6 BLUe-HDi       15
27          27      3008          1.6 BLUe-HDi       15

In [4]:
df2 = pd.read_csv('C:\\Users\\웍스컴바인\\Desktop\\work\\data_analysis\\DanawaCrawler\\crawl_result\\json\\europe6\\csv파일/20.csv', encoding='utf-8')
df2
# 2020

    Unnamed: 0  car_name              sub_name quentity
0            0      3008          1.6 BLUe-HDi    1,651
1            1      3008       GT 2.0 BLUe-HDi      250
2            2      3008          1.5 BLUe-HDi      203
3            3      3008          1.5 BLUe-HDi      203
4            4      5008          1.6 BLUe-HDi    1,033
5            5      5008       GT 2.0 BLUe-HDi      346
6            6      5008          1.5 BLUe-HDi      101
7            7      5008          1.5 BLUe-HDi      101
8            8      2008          1.6 BLUe-HDi      589
9            9      2008          1.6 BLUe-HDi      589
10          10       308          1.6 BLUe-HDi       94
11          11       308  1.6 GT Line BLUe-HDi       53
12          12       308       1.6 BLUe-HDi SW       26
13          13       308          1.5 BLUe-HDi       22
14          14       308       GT 2.0 BLUe-HDi       15
15          15       308       GT 2.0 BLUe-HDi       15
16          16       508          1.6 BLUe-HDi      135
17          17       508       GT 2.0 BLUe-HDi       18
18          18       508       GT 2.0 BLUe-HDi       18
19          19       208          1.6 BLUe-HDi      124
20          20       208          1.6 BLUe-HDi      124
21          21       308  1.6 BLUe-HDi GT Line       35
22          22       308          1.6 BLUe-HDi       10
23          23       308          2.0 BLUe-HDi        8
24          24       308       2.0 BLUe-HDi SW        3
25          25       308       1.6 BLUe-HDi SW        3
26          26       308       1.6 BLUe-HDi SW        3
27          27       508       2.0 GT BLUe-HDi       29
28          28       508          2.0 BLUe-HDi       22
29          29       508          1.5 BLUe-HDi        6
30          30       508          1.5 BLUe-HDi        6

In [5]:
df3 = pd.read_csv('C:\\Users\\웍스컴바인\\Desktop\\work\\data_analysis\\DanawaCrawler\\crawl_result\\json\\europe6\\csv파일/21.csv', encoding='utf-8')
df3
# 2021

    Unnamed: 0 car_name         sub_name quentity
0            0     3008     1.5 BLUe-HDi    1,335
1            1     3008  GT 2.0 BLUe-HDi      222
2            2     3008  GT 2.0 BLUe-HDi      222
3            3     5008     1.5 BLUe-HDi      830
4            4     5008  GT 2.0 BLUe-HDi      207
5            5     5008  GT 2.0 BLUe-HDi      207
6            6      508     2.0 BLUe-HDi      428
7            7      508  2.0 GT BLUe-HDi       86
8            8      508     1.5 BLUe-HDi       81
9            9      508     1.5 BLUe-HDi       81
10          10     2008     1.6 BLUe-HDi      286
11          11     2008     1.6 BLUe-HDi      286
12          12      308     1.5 BLUe-HDi      128
13          13      308  GT 2.0 BLUe-HDi        3
14          14      308  GT 2.0 BLUe-HDi        3
15          15   508 SW     2.0 BLUe-HDi       24
16          16   508 SW     2.0 BLUe-HDi       24

In [6]:
# 컬럼명변경
df0 = df0.rename({'Unnamed: 0': 'year'}, axis=1)
df1 = df1.rename({'Unnamed: 0': 'year'}, axis=1)
df2 = df2.rename({'Unnamed: 0': 'year'}, axis=1)
df3 = df3.rename({'Unnamed: 0': 'year'}, axis=1)

In [7]:
df0["year"]=2018
df1["year"]=2019
df2["year"]=2020
df3["year"]=2021

In [8]:
df0

    year           car_name          sub_name quentity
0   2018             Tiguan  Allspace 2.0 TDI    2,274
1   2018             Tiguan           2.0 TDI        1
2   2018             Tiguan           2.0 TDI        1
3   2018  The all new Jetta           1.4 TSI    1,988
4   2018  The all new Jetta           1.4 TSI    1,988
5   2018             Arteon           2.0 TDI      881
6   2018             Arteon   2.0 TDI 4Motion      241
7   2018             Arteon   2.0 TDI 4Motion      241
8   2018  The new Passat GT           2.0 TDI      717
9   2018  The new Passat GT   2.0 TDI 4Motion      109
10  2018  The new Passat GT   2.0 TDI 4Motion      109
11  2018              T-Roc           2.0 TDI      602
12  2018              T-Roc           2.0 TDI      602
13  2018    The new Touareg           3.0 TDI      235
14  2018    The new Touareg           4.0 TDI       37
15  2018    The new Touareg           4.0 TDI       37

In [9]:
df1

    year  car_name              sub_name quentity
0   2019      3008          1.6 BLUe-HDi    1,415
1   2019      3008       GT 2.0 BLUe-HDi       71
2   2019      3008       GT 2.0 BLUe-HDi       71
3   2019      2008          1.6 BLUe-HDi      768
4   2019      2008          1.6 BLUe-HDi      768
5   2019      2008          1.6 BLUe-HDi      512
6   2019      2008          1.6 BLUe-HDi      512
7   2019       308          1.6 BLUe-HDi      238
8   2019       308  1.6 BLUe-HDi GT Line      146
9   2019       308       1.6 BLUe-HDi SW       65
10  2019       308       2.0 BLUe-HDi SW       17
11  2019       308          2.0 BLUe-HDi       12
12  2019       308       2.0 BLUe-HDi GT        9
13  2019       308       2.0 BLUe-HDi GT        9
14  2019       508          1.6 BLUe-HDi      229
15  2019       508       GT 2.0 BLUe-HDi       53
16  2019       508          2.0 BLUe-HDi       29
17  2019       508      RXH 2.0 BLUe-HDi       17
18  2019       508          SW 1.6 e-HDi       16
19  2019       508  1.6 BLUe-HDi GT Line        5
20  2019       508  1.6 BLUe-HDi GT Line        5
21  2019      5008          1.6 BLUe-HDi      230
22  2019      5008       GT 2.0 BLUe-HDi       49
23  2019      5008       GT 2.0 BLUe-HDi       49
24  2019       208          1.6 BLUe-HDi      155
25  2019       208          1.6 BLUe-HDi      155
26  2019      3008          1.6 BLUe-HDi       15
27  2019      3008          1.6 BLUe-HDi       15

In [10]:
df2

    year  car_name              sub_name quentity
0   2020      3008          1.6 BLUe-HDi    1,651
1   2020      3008       GT 2.0 BLUe-HDi      250
2   2020      3008          1.5 BLUe-HDi      203
3   2020      3008          1.5 BLUe-HDi      203
4   2020      5008          1.6 BLUe-HDi    1,033
5   2020      5008       GT 2.0 BLUe-HDi      346
6   2020      5008          1.5 BLUe-HDi      101
7   2020      5008          1.5 BLUe-HDi      101
8   2020      2008          1.6 BLUe-HDi      589
9   2020      2008          1.6 BLUe-HDi      589
10  2020       308          1.6 BLUe-HDi       94
11  2020       308  1.6 GT Line BLUe-HDi       53
12  2020       308       1.6 BLUe-HDi SW       26
13  2020       308          1.5 BLUe-HDi       22
14  2020       308       GT 2.0 BLUe-HDi       15
15  2020       308       GT 2.0 BLUe-HDi       15
16  2020       508          1.6 BLUe-HDi      135
17  2020       508       GT 2.0 BLUe-HDi       18
18  2020       508       GT 2.0 BLUe-HDi       18
19  2020       208          1.6 BLUe-HDi      124
20  2020       208          1.6 BLUe-HDi      124
21  2020       308  1.6 BLUe-HDi GT Line       35
22  2020       308          1.6 BLUe-HDi       10
23  2020       308          2.0 BLUe-HDi        8
24  2020       308       2.0 BLUe-HDi SW        3
25  2020       308       1.6 BLUe-HDi SW        3
26  2020       308       1.6 BLUe-HDi SW        3
27  2020       508       2.0 GT BLUe-HDi       29
28  2020       508          2.0 BLUe-HDi       22
29  2020       508          1.5 BLUe-HDi        6
30  2020       508          1.5 BLUe-HDi        6

In [11]:
df3

    year car_name         sub_name quentity
0   2021     3008     1.5 BLUe-HDi    1,335
1   2021     3008  GT 2.0 BLUe-HDi      222
2   2021     3008  GT 2.0 BLUe-HDi      222
3   2021     5008     1.5 BLUe-HDi      830
4   2021     5008  GT 2.0 BLUe-HDi      207
5   2021     5008  GT 2.0 BLUe-HDi      207
6   2021      508     2.0 BLUe-HDi      428
7   2021      508  2.0 GT BLUe-HDi       86
8   2021      508     1.5 BLUe-HDi       81
9   2021      508     1.5 BLUe-HDi       81
10  2021     2008     1.6 BLUe-HDi      286
11  2021     2008     1.6 BLUe-HDi      286
12  2021      308     1.5 BLUe-HDi      128
13  2021      308  GT 2.0 BLUe-HDi        3
14  2021      308  GT 2.0 BLUe-HDi        3
15  2021   508 SW     2.0 BLUe-HDi       24
16  2021   508 SW     2.0 BLUe-HDi       24

In [12]:
# 합치기
result = pd.concat([df0, df1, df2, df3, df4])
result

NameError: name 'df4' is not defined

In [ ]:
result.to_csv("Volkswagen2017_2021.csv")